html, body, #app {
	color: $textColor;
	margin: 0;
	height: 100%;

	font-family: $font;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.text-caps {
	text-transform: uppercase;
}

.vertical-align {
	display: flex;
	align-items: center;
}