.adventure-component {
	.title-card {
		.heading {
			margin-bottom: 3rem;

			h1 {
				color: black;
				font-size: 3em;
			}
		}

		.body {
			img {
				cursor: pointer;
			}
		}
	}

	.page-card {
		h6 {
			margin-bottom: 0;
		}

		.page-header {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.image-wrapper {
			margin-bottom: 1rem;
		}

		.page-footer {
			.footer-item {
				margin-bottom: 1rem;
			}
		}
	}
}