.image-gallery-component {
	.images {
		padding-top: 3rem;
		padding-bottom: 3rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;

		.image-wrapper {
			padding: 1rem;
			width: 33.33%;

			@media screen and (max-width: 992px) {
				width: 50%;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
			}

			.image-padding {
				background-color: white;
				padding: 1rem;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
				transition: box-shadow 0.25s ease;

				&:hover {
					cursor: pointer;
					box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
				}
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	.image-modal {
		padding: 2em;
		background-color: white;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
		z-index: 3;

		@media screen and (max-width: 768px) {
			width: 90%;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		p {
			margin: 1em 0;
			font-size: 1.15em;
			text-align: center;
		}
	}

	.shade {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.45);
	}
}
