.page-attacher-component {
	.available-page {
		border: 1px solid grey;
		padding: 0.5rem;
		margin-bottom: 0.5rem;

		.fa, p {
			cursor: pointer;
		}
	}

	.current-page {
		border: 1px solid grey;
		padding: 0.5rem;
		margin-bottom: 0.5rem;

		.fa {
			cursor: pointer;
		}
	}
}