<script setup>
	import { ref } from 'vue';

	const props = defineProps({
		pages: {
			type: Array,
			required: true,
		}
	});

	const showTitle = ref(true);
	const currentPage = ref({});
	const pageStack = ref([]);

	function loadFirstPage() {
		currentPage.value = props.pages[0];

		pageStack.value.push(props.pages[0].id);

		showTitle.value = false;
	}

	function goToPage(nextPage) {
		for (let i = 0; i < props.pages.length; ++i) {
			if (props.pages[i].id === nextPage.id) {
				currentPage.value = props.pages[i];
			}
		}

		pageStack.value.push(nextPage.id);
	}

	function stepBack() {
		pageStack.value.pop();

		for (let i = 0; i < props.pages.length; ++i) {
			if (props.pages[i].id === pageStack.value[pageStack.value.length - 1]) {
				currentPage.value = props.pages[i];
			}
		}
	}
</script>

<template>
	<div class="adventure-component">
		<div v-if="showTitle" class="title-card">
			<div class="heading text-center">
				<h1>Sunshine</h1>

				<p>Written, developed, and illustrated by Erica Andrew</p>
			</div>

			<div class="body text-center">
				<img v-on:click="loadFirstPage" src="/img/layout/adventure/begin_button.png" class="img-fluid">
			</div>
		</div>

		<div v-if="currentPage.id" class="page-card">
			<div v-if="pageStack.length > 1" class="page-header">
				<button class="btn btn-teal" v-on:click="stepBack">
					<h6>Step Back</h6>
				</button>
			</div>

			<div v-if="currentPage.image_url" class="image-wrapper">
				<img :src="currentPage.image_url" class="img-fluid">
			</div>

			<div class="page-text">
				<span v-html="currentPage.text"></span>
			</div>

			<div class="page-footer">
				<div class="footer-item" v-for="nextPage in currentPage.next_pages">
					<button class="btn btn-teal" v-on:click="goToPage(nextPage)">
						<h6>{{ nextPage.pivot.prompt }}</h6>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>