<script setup>
	import { ref } from 'vue';

	const props = defineProps({
		images: {
			type: Array,
			required: true
		}
	});

	const selectedImage = ref({});
	const modalTop = ref(0);

	function openModal(image) {
		selectedImage.value = image;

		let offset = 80;
		modalTop.value = window.scrollY + offset + 'px';
	}

	function closeModal() {
		selectedImage.value = {};
	}
</script>

<template>
	<div class="image-gallery-component">
		<div class="container images">
			<div class="image-wrapper" v-for="image in images" v-on:click="openModal(image)">
				<div class="image-padding">
					<img :src="image.thumbnail_url">
				</div>
			</div>
		</div>

		<div class="image-modal" v-if="selectedImage.id" v-on:click="closeModal" :style="{ 'top': modalTop }">
			<img :src="selectedImage.url">

			<p v-if="selectedImage.description">{{ selectedImage.description }}</p>
		</div>

		<div class="shade" v-if="selectedImage.id" v-on:click="closeModal"></div>
	</div>
</template>
