<script setup>
	import { ref, computed, onMounted } from 'vue';
	import draggable from 'vuedraggable'

	const props = defineProps({
		types: {
			type: Array, 
			required: true,
		},

		images: {
			type: Array,
			required: true,
		}
	});

	const imageSet = ref([]);
	const mutableImages = ref(props.images);
	const currentType = ref({});
	const waiting = ref(false);
	const selectedImage = ref({});
	const imageDescription = ref('');
	const modalTop = ref(0);
	const error = ref('');

	const csrfToken = computed(() => {
        return document.querySelector('meta[name="csrf-token"]').content;
    });

	onMounted(() => {
		for (let type of props.types) {
			if (type.name === 'Traditional') currentType.value = type;
		};

		for (let image of mutableImages.value) {
			if (image.type_id === currentType.value.id) imageSet.value.push(image);
		}
	});

	function switchImages(type) {
		currentType.value = type;
		imageSet.value = [];

		for (let image of mutableImages.value) {
			if (image.type_id === type.id) imageSet.value.push(image);
		}
	}

	function triggerUpload() {
		waiting.value = true;
		document.getElementById('image-form').submit()
	}

	function promptUpload() {
		document.getElementById('image-file-input').click();
	}

	function updateImage() {
		waiting.value = true;

		if (!imageDescription.value.length) {
			error.value = 'Oops, please enter a description.';
			return false;
		}

		let params = {
			description: imageDescription.value,
			id: selectedImage.value.id
		};

		axios.patch(`/admin/images/${selectedImage.value.id}`, params)
			.then(response => {
				if (response.data.status === 200) {
					let index = mutableImages.value.indexOf(selectedImage.value);

					if (index >= 0) mutableImages.value[index].description = response.data.description;
				} else {
					error.value = response.data.message;
					return false;
				}
			})
			.catch(error => {
				if (console && console.error) console.error(error);
			})
			.then(response => {
				waiting.value = false;
				selectedImage.value = {};
				imageDescription.value = '';

				if (error.value.length) error.value = '';
			});

		return false;
	}

	function remove(image) {
		if (window.confirm('Do you want to permanently delete this image?')) {
			waiting.value = true;

			axios.delete(`/admin/images/${image.id}`, { data: image })
				.then(response => {
					let index = mutableImages.value.indexOf(image);

					if (index >= 0) mutableImages.value.splice(index, 1);

					waiting.value = false;

					switchImages(currentType.value);
				})
				.catch(error => {
					if (console && console.error) console.error(error);
				});
		}

		return false;
	}

	function saveOrder() {
		waiting.value = true;

		let image = {};
		let images = [];

		for (let i = 0; i < imageSet.value.length; ++i) {
			image = imageSet.value[i];

			images.push(image.id);
		}

		axios.post(`/admin/images/order`, { images })
			.then(response => {
				waiting.value = false;
			})
			.catch(error => {
				if (console && console.error) console.error(error);
			});
	}

	function openEdit(image) {
		selectedImage.value = image;
		imageDescription.value = image.description;

		let offset = 160;
		modalTop.value = window.scrollY + offset + 'px';
	}

	function closeEdit() {
		selectedImage.value = {};
		imageDescription.value = '';
		error.value = '';
		waiting.value = false;
	}
</script>

<template>
	<div class="image-editor-component">
		<form action="/admin/images" method="POST" id="image-form" enctype="multipart/form-data">
			<input type="hidden" name="_token" :value="csrfToken">

			<input id="image-file-input" type="file" name="images[]" mutiple v-on:input="triggerUpload">

			<input type="text" name="type" v-model="currentType.name" style="display: none;">
		</form>

		<div class="type-links">
			<div class="type-link" v-for="type in types" v-on:click="switchImages(type)" :class="{ active: currentType.name === type.name }">{{ type. name }}</div>
		</div>

		<div class="add-header">
			<h3>Add a new image:</h3>

			<div class="add-photo-button">
				<button class="btn btn-teal" v-on:click="promptUpload">
					<i class="fa fa-photo"></i> Add Images
				</button>
			</div>
		</div>

		<draggable v-model="imageSet" class="image-set">
			<div class="image" v-for="image in imageSet" :style="`background-image: url('${image.thumbnail_url}');`">
				<i title="Edit Description" class="fa fa-lg fa-edit" v-on:click="openEdit(image)"></i>

				<i title="Delete" class="fa fa-lg fa-times" v-on:click="remove(image)"></i>
			</div>
		</draggable>

		<button v-show="imageSet.length > 1" class="btn btn-teal save-order" v-on:click="saveOrder">
			<i class="fa fa-list-ul"></i> Save Image Order
		</button>

		<div class="waiting" v-if="waiting">
			<i class="fa fa-lg fa-spin fa-cog"></i>
		</div>

		<div class="description-modal" v-if="selectedImage.id" :style="{ 'top': modalTop }">
			<i class="fa fa-lg fa-times" v-on:click="closeEdit"></i>

			<h4>Enter a description:</h4>

			<p v-if="error.length" style="color: red;">{{ error }}</p>

			<input class="form-control" type="text" v-model="imageDescription">

			<button class="btn btn-teal" v-on:click="updateImage">Update</button>
		</div>

		<div class="shade" v-if="selectedImage.id" v-on:click="closeEdit"></div>
	</div>
</template>
