<script setup>
	import { ref, reactive } from 'vue';

	const props = defineProps({
		page: {
			type: Object,
			required: true,
		},

		availablePages: {
			type: Array,
			required: true,
		}
	});

	const initialState = {
		id: null,
		prompt: '',
	};

	const mutableCurrentPages = ref(props.page.next_pages);
	const mutableAvailablePages = ref(props.availablePages);
	const waiting = ref(false);

	const chosenPage = reactive({ ...initialState });

	function pageUrl(page) {
		return '/admin/pages/' + page.id +'/edit';
	}

	function managePrompt(page) {
		Object.assign(chosenPage, page);

		chosenPage.prompt = '';
	}

	function detachPage(page) {
		waiting.value = true;

		let data = {};
		data.remove_id = page.id;
		data.parent_id = props.page.id;

		axios.post('/admin/pages/detach', data)
			.then(response => {
				mutableAvailablePages.value.push(page);

				Object.assign(chosenPage, initialState);

				let index = mutableCurrentPages.value.indexOf(page);

				if (index >= 0) mutableCurrentPages.value.splice(index, 1);
			})
			.catch(error => {
				if (console && console.error) console.error(error);
			})
			.finally(() => {
				waiting.value = false;
			})
	}

	function attachPage(page) {
		waiting.value = true;

		if (!chosenPage.prompt) {
			waiting.value = false;

			return false;
		}

		let data = {};
		data.attach_id = page.id;
		data.parent_id = props.page.id;
		data.prompt = chosenPage.prompt;

		axios.post('/admin/pages/attach', data)
			.then(response => {
				let modifiedPage = response.data.new_page;
				modifiedPage.pivot = { 'prompt': chosenPage.prompt };

				mutableCurrentPages.value.push(modifiedPage);

				let index = mutableAvailablePages.value.indexOf(page);

				if (index >= 0) mutableAvailablePages.value.splice(index, 1);

				Object.assign(chosenPage, initialState);
			})
			.catch(error => {
				if (console && console.error) console.error(error);
			})
			.finally(() => {
				waiting.value = false;
			});
	}
</script>

<template>
	<div class="page-attacher-component">
		<div v-if="page.id">
			<div v-if="waiting">
				<i class="fa fa-spin fa-spinner"></i>
			</div>

			<div v-if="mutableCurrentPages.length" class="current-pages">
				<div>
					<p>Current Next Pages</p>
				</div>

				<div class="current-page" v-for="page in mutableCurrentPages">
					<p>
						<a :href="pageUrl(page)">{{ page.synopsis }}</a>
					</p>

					<p>Prompt: {{ page.pivot.prompt }}</p>

					<div class="text-right" v-on:click="detachPage(page)">
						<i class="fa fa-times pull-right" title="Remove"></i>
					</div>
				</div>

				<hr>
			</div>

			<div class="available-pages">
				<div>
					<p>Available Pages</p>
				</div>

				<div class="available-page" v-for="page in mutableAvailablePages">
					<p v-on:click="managePrompt(page)">{{ page.synopsis }}</p>

					<div class="d-flex justify-content-between align-items-center">
						<input class="form-control w-80" v-if="chosenPage.id === page.id" type="text" v-model="chosenPage.prompt" placeholder="Prompt">

						<div v-if="chosenPage.prompt.length" class="w-20" v-on:click="attachPage(page)">
							<i class="fa fa-plus" title="Attach"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-else>
			<p>Save page to begin attaching next pages.</p>
		</div>
	</div>
</template>