<script setup>
	import { ref, onMounted } from 'vue';

	const props = defineProps({
		id: {
			type: String,
			required: true,
		},

		name: {
			type: String,
			required: true,
		},

		value: {
			type: String,
			required: true,
		}
	});

	const formattedID = ref(props.id);
	const val = ref(props.value);

	onMounted(() => {
		if (!formattedID.length) formattedID.value = randomID();

		tinymce.init({
			selector: `#${props.id}`,
			browser_spellcheck: true,
			contextmenu: false,
			plugins: 'lists link code'
		});
	});

	function randomID() {
		let id = '';
		let chars = 'abcdefghijklmnopqrstuvwxyz';

		while(id.length < 16) {
			id += chars[Math.floor(Math.random() * chars.length)];
		}

		return id;
	}
</script>

<template>
	<div class="tinymce-component">
		<textarea :id="id" :name="name" class="form-control" v-model="val"></textarea>
	</div>
</template>