.home-nav {

	padding-top: 4.5em;
	padding-bottom: 4.5em;
	z-index: 100;
	background-color: none;
	text-align: center;
	
	.home-links {
		display: flex;
		justify-content: space-around;

		a {
			font-size: 3em;
			color: $textColor;
			text-decoration: none;
		}
	}
}