.dev-wrapper {
	.boxes {
		flex-wrap: wrap;

		.content-box {
			margin: 1rem;

			.box {
				position: relative;
				width: 250px;
				height: 250px;
				background-color: #ccc;
				transition: border-radius 1s;
				border-radius: 100%;

				&:hover {
					border-radius: 0;

					.info {
						visibility: visible;
						opacity: 1;
					}
				}

				img {
					max-width: 200px;
					max-height: 200px;
				}

				.info {
					position: absolute;
					bottom: 1rem;
					left: 1rem;
					visibility: hidden;
					opacity: 0;
					margin-top: 0.25rem;
					margin-bottom: 0;
					padding: 3px 5px;
					background-color: white;
					transition: visibility 1s, opacity 1s;
				}
			}
		}
	}
}
